body {
	background-color: #34495e
}

* {
	margin: 0;
	padding: 0;
}

#my_contents {
	padding: 70px 0px 0px;
}

#my_body {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

#subimg {
	width: 1000px;
	overflow: hidden;
}

#subimg ul {
	width: 1013px;
	margin-right: -13px;
	list-style: none;
}

#subimg ul li {
	width: 240px;
	float: left;
	margin-right: 13px;
}

#my_header {
	font-size: 30pt;
	color: #FFFFFF;
	width: 1000px;
	height: 60px;
	position: absolute;
	background-color: #f39c12;
}

#my_footer {
	line-height: 30px;
	color: #FFFFFF;
	text-align: center;
	width: 1000px;
	height: 30px;
	bottom: 0;
	background-color: #f39c12;
	width: 1000px;
}

/* メニューここから  */
#menu {
	
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	z-index: 3;
	display: inline;
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
}

#menu>ul>li>ul {
	z-index: 3;
	visibility: hidden;
	position: absolute;
	opacity: 0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-transition: opacity .40s ease .1s;
	-moz-transition: opacity .40s ease .1s;
	-o-transition: opacity .40s ease .1s;
	-ms-transition: opacity .40s ease .1s;
	transition: opacity .40s ease .1s;
	left: 0;
}

#menu>ul>li:hover>ul {
	visibility: visible;
	opacity: 1;
}

#menu ul li a {
	display: block;
	border-left: 8px solid #b22222;
	background-color: #2e8b57;
	border-left: 8px solid #f39c12;
	background-color: #3498db;
	padding: 8px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 222px;
	margin: 1px 0px;
	font-size: 14px;
}

#menu li a:hover {
	border-left: 8px solid #e74c3c;
	background-color: #27ae60;
}

/* メニューここまで  */

/* コンテンツここから */
#contents {
	background-color:#ecf0f1;
	color: #2c3e50;
	margin: 10px 0px 0px 0px;
}

/* コンテンツここまで */