#linklist li {
	margin: 20px 0px 0px 0px;
	position: relative;
	left: 50px;
	list-style: square outside;
	color: #2ecc71;
}

#linklist li a {
	color:#2c3e50;
	font-weight: bold;
}
h1 {
	position: relative;
	top: 10px;
	margin: 10px 10px 30px 10px;
	border-bottom: 5px #9b59b6 dashed;
}