#navigation {
	float: left;
	background-color: white;
	width: 200px;
	list-style: none; 
	border-width : 2px;
	border-color: #FFEEDB;
	border-style: ridge;
	padding-left: 22px;
	line-height: 30px;
	border-width: 2px
}

#navigation h2 {
	background-color: rgb(240, 240, 240);
	color: hsl(180, 50%, 50%);
	border-top: 4px double hsl(180, 50%, 50%);
	border-bottom: 4px double hsl(180, 50%, 50%);
}

#research_contents {
	float: left;
	width: 750px;
	background-color: white;
	padding-left: 20px;
	line-height: 30px;
	list-style-type: hebrew;
}

#my_footer {
	clear: both;
}